
.section-content{
    display: flex;
    justify-content: space-between;
    gap: 7.5rem;
}
.sectionContent-imagen{
    inline-size: 365px;
    block-size: 365px;
    margin-right: 150px;
    margin-top: 5.34rem;
   /*  border: 1px solid red; */
}
.circle{
    inline-size: 365px;
    block-size: 365px;
    border-radius: 100%;
    /* border: 1px solid blue; */
}
.sectionContent-imagen  img{
    inline-size: 100%;
    block-size: 100%;
    border-radius: 100%;
}
.description{
    inline-size: 655px;
    margin-left: 150px;
    margin-top: 5rem;
   
}
.normal{
    font-family: 'Maven Pro', sans-serif;
    font-weight: 400;
    color: #9BA4AD;
    font-size: 1.12rem;
    line-height: 1.75rem;
    margin-bottom: 0;
}
.bold{
    font: var(--headline3);
    font-family: 700;
    font-size: 1.6rem;
}
.descargarCurriculum{
    border: none;
    padding: 12px 24px;
    background: var(--primary);
    color:var(--black);
    cursor: pointer;
    font-family: 'Maven Pro', sans-serif;
    font-weight: 700;
    border-radius: 4px;
    margin-top: 16px;
    margin-bottom: 80px;
}